<div th:fragment="section-category" xmlns:th="http://www.thymeleaf.org">
<!-- Categories Section Begin -->
<section class="categories" >
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">
                <div class="col-lg-3" th:each="accessory, iterStart:${accessoryList}">
                    <div class="categories__item set-bg" data-setbg="${}">
                        <h5><a href="" th:text="${accessory.manufacturer.name}"></a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->
</div>