<div th:fragment="section-latest">
<!-- Latest Product Section Begin -->
<section class="latest-product spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="latest-product__text">
          <h4>Mới nhất</h4>
          <div class="latest-product__slider owl-carousel">
            <div class="latest-prdouct__slider__item">
              <a href="shop-details.html" class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="img/latest-product/lp-1.jpg" alt="">
                </div>
                <div class="latest-product__item__text">
                  <h6>Pomeranian trắng 01</h6>
                  <span>8.000.000đ</span>
                </div>
              </a>
              <a href="shop-details.html" class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="img/latest-product/lp-2.jpg" alt="">
                </div>
                <div class="latest-product__item__text">
                  <h6>Poodle vàng mơ 01</h6>
                  <span>5.000.000đ</span>
                </div>
              </a>
              <a href="shop-details.html" class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="img/latest-product/lp-3.jpg" alt="">
                </div>
                <div class="latest-product__item__text">
                  <h6>Corgi vàng 01</h6>
                  <span>11.000.000đ</span>
                </div>
              </a>
            </div>
            <div class="latest-prdouct__slider__item">
              <a href="shop-details.html" class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="img/latest-product/bull1.jpg" alt="">
                </div>
                <div class="latest-product__item__text">
                  <h6>Bully 02</h6>
                  <span>9.000.000đ</span>
                </div>
              </a>
              <a href="shop-details.html" class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="img/latest-product/phoc-soc1.jpg" alt="">
                </div>
                <div class="latest-product__item__text">
                  <h6>Pomeranian vàng 02</h6>
                  <span>15.000.000đ</span>
                </div>
              </a>
              <a href="shop-details.html" class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="img/latest-product/pug1.jpg" alt="">
                </div>
                <div class="latest-product__item__text">
                  <h6>Pug vàng 01</h6>
                  <span>4.000.000đ</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="latest-product__text">
          <h4>Bán chạy nhất</h4>
          <div class="latest-product__slider owl-carousel">
            <div class="latest-prdouct__slider__item">
              <a href="shop-details.html" class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="img/fast_sell/pug1.jpg" alt="">
                </div>
                <div class="latest-product__item__text">
                  <h6>Pug 01</h6>
                  <span>3.000.000đ</span>
                </div>
              </a>
              <a href="shop-details.html" class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="img/fast_sell/phoc-soc02.jpg" alt="">
                </div>
                <div class="latest-product__item__text">
                  <h6>Phóc sóc 02</h6>
                  <span>10.000.000đ</span>
                </div>
              </a>
              <a href="shop-details.html" class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="img/fast_sell/phoc-soc3.jpg" alt="">
                </div>
                <div class="latest-product__item__text">
                  <h6>Phóc sóc 03</h6>
                  <span>8.000.000đ</span>
                </div>
              </a>
            </div>
            <div class="latest-prdouct__slider__item">
              <a href="shop-details.html" class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="img/fast_sell/pug2.jpg" alt="">
                </div>
                <div class="latest-product__item__text">
                  <h6>Pug 02</h6>
                  <span>3.500.000đ</span>
                </div>
              </a>
              <a href="shop-details.html" class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="img/fast_sell/pug3.jpg" alt="">
                </div>
                <div class="latest-product__item__text">
                  <h6>Pug 03</h6>
                  <span>4.000.000đ</span>
                </div>
              </a>
              <a href="shop-details.html" class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="img/fast_sell/samoyed1.jpg" alt="">
                </div>
                <div class="latest-product__item__text">
                  <h6>Samoyed 01</h6>
                  <span>8.500.000đ</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="latest-product__text">
          <h4>Khuyến mãi</h4>
          <div class="latest-product__slider owl-carousel">
            <div class="latest-prdouct__slider__item">
              <a href="shop-details.html" class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="img/sale/bull-phap3.jpg" alt="">
                </div>
                <div class="latest-product__item__text">
                  <h6>Bull Pháp 03</h6>
                  <span>7.000.000đ</span>
                </div>
              </a>
              <a href="shop-details.html" class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="img/sale/bull-phap4.jpg" alt="">
                </div>
                <div class="latest-product__item__text">
                  <h6>Bull Pháp 04</h6>
                  <span>8.000.000đ</span>
                </div>
              </a>
              <a href="shop-details.html" class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="img/sale/corgi4.jpg" alt="">
                </div>
                <div class="latest-product__item__text">
                  <h6>Corgi 04</h6>
                  <span>10.000.000đ</span>
                </div>
              </a>
            </div>
            <div class="latest-prdouct__slider__item">
              <a href="shop-details.html" class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="img/sale/lap-xuong1.jpg" alt="">
                </div>
                <div class="latest-product__item__text">
                  <h6>Lạp xưởng 01</h6>
                  <span>800.000đ</span>
                </div>
              </a>
              <a href="shop-details.html" class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="img/sale/poodle1.jpg" alt="">
                </div>
                <div class="latest-product__item__text">
                  <h6>Poodle 01</h6>
                  <span>5.000.000đ</span>
                </div>
              </a>
              <a href="shop-details.html" class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="img/sale/pug3.jpg" alt="">
                </div>
                <div class="latest-product__item__text">
                  <h6>Pug 03</h6>
                  <span>4.500.000đ</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Latest Product Section End -->
</div>