<div th:fragment="section-hero">

<!-- Hero Section Begin -->
<section class="hero"  ng-app="menu" ng-controller="menuController">
       <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="hero__categories">
          <div class="hero__categories__all">
            <i class="fa fa-bars"></i>
            <span>Tất cả sản phẩm</span>
          </div>


          <ul class="hero__categories__menu menu">

            <li id="screen"><a href="shop-grid.html"><span><img src="img/PC/icon/screen.png"></span>
              <span>Màn hình</span></a>
              <div class="megadrop">
                <div class="col">
                  <h3>Title</h3>
                  <ul>
                    <li><a href="#">Sub-menu 1</a>
                    </li>
                    <li><a href="#">Sub-menu 2</a>
                    </li>
                    <li><a href="#">Sub-menu 3</a>
                    </li>
                  </ul>
                </div>

              </div>
            </li>

            <li id="keyboard">
              <a href="shop-grid.html" ><span><img src="img/PC/icon/keyboard.png"></span>
                <span>Bàn phím</span></a>
              <div class="megadrop">
                <div class="col">
                  <h3>Title</h3>
                  <ul>
                    <li><a href="#">Sub-menu a</a>
                    </li>
                    <li><a href="#">Sub-menu b</a>
                    </li>
                    <li><a href="#">Sub-menu c</a>
                    </li>
                  </ul>
                </div>

                <div class="col">
                  <h3>Title</h3>
                  <ul>
                    <li><a href="#">Sub-menu a</a>
                    </li>
                    <li><a href="#">Sub-menu b</a>
                    </li>
                    <li><a href="#">Sub-menu c</a>
                    </li>
                  </ul>
                </div>

                <div class="col">
                  <h3>Title</h3>
                  <ul>
                    <li><a href="#">Sub-menu a</a>
                    </li>
                    <li><a href="#">Sub-menu b</a>
                    </li>
                    <li><a href="#">Sub-menu c</a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>

          </ul>


        </div>
      </div>
      <div class="col-lg-9">
        <div class="hero__search">
          <div class="hero__search__form">
            <form action="#">
              <div class="hero__search__categories">
                Tất cả sản phẩm
                <span class="arrow_carrot-down"></span>
              </div>
              <input type="text" placeholder="Bạn cần gì">
              <button type="submit" class="site-btn">SEARCH</button>
            </form>
          </div>
          <div class="hero__search__phone">
            <div class="hero__search__phone__icon">
              <i class="fa fa-phone"></i>
            </div>
            <div class="hero__search__phone__text">
              <h5>+65 11.188.888</h5>
              <span>Hỗ trợ 24/7</span>
            </div>
          </div>
        </div>
        <div class="hero__item ">
          <img class="mySlides" th:src="@{/user/img/slideshow/slideshow_2.jpg}" style="width:100%">
          <img class="mySlides" th:src="@{/user/img/slideshow/slideshow_3.jpg}" style="width:100%">
          <img class="mySlides" th:src="@{/user/img/slideshow/slideshow_4.jpg}" style="width:100%">
          <img class="mySlides" th:src="@{/user/img/slideshow/slideshow_5.jpg}" style="width:100%">
          <img class="mySlides" th:src="@{/user/img/slideshow/slideshow_9.jpg}" style="width:100%">
          <img class="mySlides" th:src="@{/user/img/slideshow/slideshow_10.jpg}" style="width:100%">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Hero Section End -->
</div>
