<!DOCTYPE html >
<html lang="zxx"  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>${title}</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>
    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{/user/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/user/css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/user/css/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/user/css/nice-select.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/user/css/jquery-ui.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/user/css/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/user/css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/user/css/style.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/user/css/sale-tag.css}" type="text/css">
    <script th:src="@{/user/js/AngularJS/menu.js}"></script>
</head>

<body >

<!-- Header Section Begin -->
<div th:replace="user/common/header:: client_header"></div>
<!-- Header Section End -->

<!-- Hero Section Begin -->
<div th:replace="user/common/section-hero:: section-hero"></div>
<!-- Hero Section End -->

<!-- Categories Section Begin -->
<section class="categories" >
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">
                <div class="col-lg-3" th:each="accessory, iterStat: ${list}" th:with="imgIcon=${accessory.image.link.split('~')}">
                    <div class="categories__item set-bg" th:data-setbg="${imgIcon[0]}">
                        <h5><a th:href="@{'/shop-grid/category='+${accessory.manufacturer.name}}" th:text="${accessory.manufacturer.name}"></a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->
<!-- Featured Section Begin -->
<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Sản phẩm</h2>
                </div>
                <div class="featured__controls">
                    <ul>
                        <li class="active" data-filter="*">All</li>
                        <li th:each="category, iterStat: ${categoryList}" th:data-filter="'.'+${category.name}" th:text="${category.name}"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row featured__filter">
            <div th:each="accessory, iterStat: ${list}" th:class="'col-lg-3 col-md-4 col-sm-6 mix '+${accessory.category.name}">
                <div class="featured__item" th:with="imgIcon=${accessory.image.link.split('~')}">
                    <div class="featured__item__pic set-bg" th:data-setbg="${imgIcon[0]}">
                        <th:block th:if="${accessory.price.salePercent>1}">
                        <span class="sale" th:utext="'-'+ ${accessory.price.salePercent}+'%'"></span>
                        </th:block>
                        <ul class="featured__item__pic__hover">
                            <li><a href="wish-list.html"><i class="fa fa-heart"></i></a></li>
                            <li><a th:href="@{'/detail/id=' + ${accessory.id}}"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="/shopping-cart"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a th:href="@{'/detail/id='+${accessory.id}}" th:utext="${accessory.name}"></a></h6>
                        <h5 th:utext="${accessory.price.salePrice}"></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Featured Section End -->


<!-- Banner Begin -->
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 mb-10 col-padding-small">
                <div class="banner__pic">
                    <img th:src="@{/user/img/banner/banner1.jpg}" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 mb-10 col-padding-small">
                <div class="banner__pic">
                    <img th:src="@{/user/img/banner/banner2.jpg}" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 mb-10 col-padding-small">
                <div class="banner__pic">
                    <img th:src="@{/user/img/banner/banner3.jpg}" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 mb-10 col-padding-small">
                <div class="banner__pic">
                    <img th:src="@{/user/img/banner/banner4.jpg}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->

<!-- Latest Product Section Begin -->
<section class="latest-product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Mới nhất</h4>
                    <div class="latest-product__slider owl-carousel">
                        <div class="latest-prdouct__slider__item">
                            <th:block th:each="newIcon, isStat:${list1}" >
                            <a th:href="@{'/detail/id=' +${newIcon.id}}" class="latest-product__item" >
                                <div class="latest-product__item__pic" th:with="imgIcon=${newIcon.image.link.split('~')}">
                                    <img th:src="${imgIcon[0]}" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6 th:utext="${newIcon.name}"></h6>
                                    <span th:utext="${newIcon.price.salePrice}"></span>
                                </div>
                            </a>
                            </th:block>
                        </div>
                        <div class="latest-prdouct__slider__item" >
                            <th:block th:each="newIcon, isStat:${list2}">
                            <a th:href="@{'/detail/id='+${newIcon.id}}" class="latest-product__item" >
                                <div class="latest-product__item__pic" th:with="imgIcon=${newIcon.image.link.split('~')}">
                                    <img th:src="${imgIcon[0]}" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6 th:utext="${newIcon.name}"></h6>
                                    <span th:utext="${newIcon.price.salePrice}"></span>
                                </div>
                            </a>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Bán chạy nhất</h4>
                    <div class="latest-product__slider owl-carousel">
                        <div class="latest-prdouct__slider__item">
                            <th:block  th:each="bestIcon, isStat:${list3}">
                            <a th:href="@{'/detail/id='+${bestIcon.id}}" class="latest-product__item" >
                                <div class="latest-product__item__pic" th:with="imgIcon=${bestIcon.image.link.split('~')}">
                                    <img th:src="${imgIcon[0]}" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6 th:utext="${bestIcon.name}"></h6>
                                    <span th:utext="${bestIcon.price.salePrice}"></span>
                                </div>
                            </a>
                            </th:block>
                        </div>
                        <div class="latest-prdouct__slider__item" >
                            <th:block th:each="bestIcon, isStat:${list4}">
                            <a th:href="@{'/detail/id='+${bestIcon.id}}" class="latest-product__item" >
                                <div class="latest-product__item__pic" th:with="imgIcon=${bestIcon.image.link.split('~')}">
                                    <img th:src="${imgIcon[0]}" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6 th:utext="${bestIcon.name}"></h6>
                                    <span th:utext="${bestIcon.price.salePrice}"></span>
                                </div>
                            </a>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Khuyến mãi</h4>
                    <div class="latest-product__slider owl-carousel">
                        <div class="latest-prdouct__slider__item" >
                            <th:block th:each="saleIcon, isStat:${list5}">
                            <a th:href="@{'/detail/id='+ ${saleIcon.id}}" class="latest-product__item">
                                <div class="latest-product__item__pic" th:with="imgIcon=${saleIcon.image.link.split('~')}">
                                    <span class="sale" style="position: absolute" th:utext="'-'+ ${saleIcon.price.salePercent}+'%'"></span>
                                    <img th:src="${imgIcon[0]}" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6 th:utext="${saleIcon.name}"></h6>
                                    <span th:utext="${saleIcon.price.salePrice}"></span>
                                </div>
                            </a>
                            </th:block>
                        </div>
                        <div class="latest-prdouct__slider__item">
                            <th:block th:each="saleIcon, isStat:${list6}">
                            <a th:href="@{'/detail/id='+${saleIcon.id}}" class="latest-product__item">
                                <div class="latest-product__item__pic" th:with="imgIcon=${saleIcon.image.link.split('~')}">
                                    <span class="sale" style="position: absolute" th:utext="'-'+ ${saleIcon.price.salePercent}+'%'"></span>
                                    <img th:src="${imgIcon[0]}" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6 th:utext="${saleIcon.name}"></h6>
                                    <span th:utext="${saleIcon.price.salePrice}"></span>
                                </div>
                            </a>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Latest Product Section End -->

<!-- Footer Section Begin -->
<div th:replace="user/common/footer:: footer"></div>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script th:src="@{/user/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/user/js/bootstrap.min.js}"></script>
<script th:src="@{/user/js/jquery.nice-select.min.js}"></script>
<script th:src="@{/user/js/jquery-ui.min.js}"></script>
<script th:src="@{/user/js/jquery.slicknav.js}"></script>
<script th:src="@{/user/js/mixitup.min.js}"></script>
<script th:src="@{/user/js/owl.carousel.min.js}"></script>
<script th:src="@{/user/js/main.js}"></script>



</body>
</html>