<!DOCTYPE html>
<html lang="zxx"  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="PetShop Template">
    <meta name="keywords" content="PetShop, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pet shop</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>
    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{/user/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/user/css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/user/css/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/user/css/nice-select.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/user/css/jquery-ui.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/user/css/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/user/css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/user/css/style.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/user/css/sale-tag.css}" type="text/css">
</head>

<body>


<!-- Header Section Begin -->
<div th:replace="user/common/header:: client_header"></div>
<!-- Header Section End -->


<!-- Hero Section Begin -->
<div th:replace="user/common/section-hero:: section-hero"></div>
<!-- Hero Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <div class="breadcrumb__option">
                            <a th:href="@{'/'}">Trang chủ</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container tv">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic" th:with="imgIcon=${accessory.image.link.split('~')}">
                        <div class="product__details__pic__item">
                            <img class="product__details__pic__item--large"
                                th:src="'/'+${imgIcon[0]}" alt="">
                        </div>
                        <div class="product__details__pic__slider owl-carousel">
                            <img th:data-imgbigurl="'/'+${imgIcon[0]}"
                                th:src="'/'+${imgIcon[0]}" alt="">

                            <img th:data-imgbigurl="'/'+${imgIcon[1]}"
                                th:src="'/'+${imgIcon[1]}" alt="">

                            <img th:data-imgbigurl="'/'+${imgIcon[2]}"
                                th:src="'/'+${imgIcon[2]}" alt="">
                            <img th:data-imgbigurl="'/'+${imgIcon[3]}"
                                th:src="'/'+${imgIcon[3]}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        <h3 th:utext="${accessory.name}"></h3>
                        <div class="product__details__rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <span>(18 đánh giá)</span>
                        </div>
                        <div class="product__details__price" th:utext="${accessory.price.price}"></div>
                        <div class="product__details__saleprice" th:utext="${accessory.price.salePrice}"></div>
                        <h4>Thông tin chung: </h4>
                        <li>Hang san xuat: <p th:utext="${accessory.manufacturer.name}"/> </li>
                        <li class="img-manufacturer"><a th:href="@{'/shop-grid/category='+${accessory.manufacturer.name}}"><img th:src="'/'+${accessory.manufacturer.image}"></a></li>
                        <div class="">
                            <div class="quantiproduct__details__quantityty">
                                <div class="pro-qty">
                                    <input type="text" value="1">
                                </div>
                            </div>
                        </div>
                        <a href="#" ><button class="primary-btn">Thêm vào giỏ hàng</button></a>
                        <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
                        <ul>
                            <li><b>Tình trạng</b>
                                <th:block>
                                <span th:if="${accessory.quantity>0}">Còn hàng</span>
                                <span th:if="${accessory.quantity<=0}" class="text-danger" style="font-weight: bold">Hết hàng</span>
                                </th:block>
                            </li>
                            <li><b>Vận chuyển</b> <span>Trong 1 ngày <samp></samp></span></li>
                            <li><b>Chia sẻ</b>
                                <div class="share">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                                    aria-selected="true">Mô tả</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                                   aria-selected="true">Thông số</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"
                                    aria-selected="false">Nhận xét <span>(1)</span></a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h6 th:text="${accessory.description}"></h6>
                                </div>
                            </div>

                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h6>hihi</h6>
                                    <p></p>
                                </div>
                            </div>
                            
                            <div class="tab-pane" id="tabs-3" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <div class="container bootstrap snippets bootdey">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="blog-comment">
                                                    <p>4 bình luận</p>
                                                    <hr/>
                                                    <ul class="comments">
                                                        <li class="clearfix">
                                                        <img src="img/avatar/avatar1.jpg" class="avatar" alt="">
                                                        <div class="post-comments">
                                                            <p class="meta">2/2/2020, JohnDoe: <i class="pull-right"><a href="#"><small>Trả lời</small></a></i></p>
                                                            <p>
                                                                Đẹp quá ạ
                                                            </p>
                                                        </div>
                                                        </li>
                                                        <li class="clearfix">
                                                        <img src="img/avatar/avatar2.jpg" class="avatar" alt="">
                                                        <div class="post-comments">
                                                            <p class="meta">3/2/2020, Jack: <i class="pull-right"><a href="#"><small>Trả lời</small></a></i></p>
                                                            <p>
                                                               Dễ thương quá shop
                                                            </p>
                                                        </div>
                                                        
                                                        <ul class="comments">
                                                            <li class="clearfix">
                                                                <img src="img/avatar/avatar_default.jpg" class="avatar" alt="">
                                                                <div class="post-comments">
                                                                    <p class="meta">3/2/2020 admin : <i class="pull-right"><a href="#"><small>Reply</small></a></i></p>
                                                                    <p>
                                                                        Shop xin cảm ơn
                                                                    </p>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                        </li>
                                                    </ul>
                                                    <textarea class="form-control" placeholder="Viết bình luận" rows="3"></textarea>
                                                    <br>
                                                    <button type="button" class="btn btn-info pull-right">Post</button>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Details Section End -->
    <!-- Related Product Section Begin -->
    <section class="related-product">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title related__product__title">
                        <h2>Sản phẩm liên quan</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6" th:each="relatedProduct, iterStat: ${relatedList}">
                    <div class="product__item" th:with="imgIcon=${relatedProduct.image.link.split('~')}">
                        <div class="product__item__pic set-bg" th:data-setbg="'/'+${imgIcon[0]}">
                            <ul class="product__item__pic__hover">
                                <li><a href="wish-list.html"><i class="fa fa-heart"></i></a></li>
                                <li><a th:href="@{'/detail/id='+${relatedProduct.id}}"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="shopping-cart.html"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a th:href="@{'/detail/id='+${relatedProduct.id}}" th:utext="${relatedProduct.name}"></a></h6>
                            <h5 th:utext="${relatedProduct.price.salePrice}"></h5>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Related Product Section End -->
    <!-- Footer Section Begin -->
<div th:replace="user/common/footer:: footer"></div>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script th:src="@{/user/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/user/js/bootstrap.min.js}"></script>
    <script th:src="@{/user/js/jquery.nice-select.min.js}"></script>
    <script th:src="@{/user/js/jquery-ui.min.js}"></script>
    <script th:src="@{/user/js/jquery.slicknav.js}"></script>
    <script th:src="@{/user/js/mixitup.min.js}"></script>
    <script th:src="@{/user/js/owl.carousel.min.js}"></script>
    <script th:src="@{/user/js/main.js}"></script>



</body>

</html>