<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pet shop</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>
    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{/user/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/user/css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/user/css/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/user/css/nice-select.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/user/css/jquery-ui.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/user/css/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/user/css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/user/css/style.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/user/css/sale-tag.css}" type="text/css">
</head>

<body>
<!-- Header Section Begin -->
<div th:replace="user/common/header:: client_header"></div>
<!-- Header Section End -->


<!-- Hero Section Begin -->
<div th:replace="user/common/section-hero:: section-hero"></div>
<!-- Hero Section End -->
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <div class="breadcrumb__option">
                            <a href="./index.html">Trang chủ</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">

                        <div class="sidebar__item">
                            <h4>Giá</h4>
                            <div class="price-range-wrap">
                                <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                     data-min="10" data-max="10000">
                                    <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                </div>
                                <div class="range-slider">
                                    <div class="price-input">
                                        <input type="text" id="minamount">
                                        <input type="text" id="maxamount">
                                    </div>
                                </div>
                            </div>
                        </div>
<!--   select tag    -------------------------------------------------------->
                        <div class="sidebar__item sidebar__item__color--option">
                           <h4>Nhà sản xuất</h4>
                            <div class="sidebar__item__container">
                                <div class="sidebar__item__color">
                                        <input type="checkbox" id="LG">
                                        <label for="LG">LG</label>
                                </div>

                                <div class="sidebar__item__color">
                                    <input type="checkbox" id="samsung">
                                    <label for="samsung">Samsung</label>
                                </div>

                                <div class="sidebar__item__color">
                                    <input type="checkbox" id="xiaomi">
                                    <label for="xiaomi">Xiaomi</label>
                                </div>

                            </div>
                        </div>

<!------------------------------------------------------------------------------------->
                        <div class="sidebar__item sidebar__item__color--option">
                            <h4>Màn hình</h4>
                            <div class="sidebar__item__container">
                                <div class="sidebar__item__color">
                                    <input type="checkbox" id="40">
                                    <label for="40">40'</label>
                                </div>
                            </div>

                        </div>
                        <div class="sidebar__item">
                            <div class="latest-product__text">
                                <h4>Mới nhất</h4>
                                <div class="latest-product__slider owl-carousel">
                                    <div class="latest-prdouct__slider__item">
                                        <th:block th:each="newIcon, isStat:${list1}" >
                                            <a th:href="@{'/detail/id=' +${newIcon.id}}" class="latest-product__item" >
                                                <div class="latest-product__item__pic" th:with="imgIcon=${newIcon.image.link.split('~')}">
                                                    <img th:src="'/'+${imgIcon[0]}" alt="">
                                                </div>
                                                <div class="latest-product__item__text">
                                                    <h6 th:utext="${newIcon.name}"></h6>
                                                    <span th:utext="${newIcon.price.salePrice}"></span>
                                                </div>
                                            </a>
                                        </th:block>
                                    </div>
                                    <div class="latest-prdouct__slider__item" >
                                        <th:block th:each="newIcon, isStat:${list2}">
                                            <a th:href="@{'/detail/id='+${newIcon.id}}" class="latest-product__item" >
                                                <div class="latest-product__item__pic" th:with="imgIcon=${newIcon.image.link.split('~')}">
                                                    <img th:src="'/'+${imgIcon[0]}" alt="">
                                                </div>
                                                <div class="latest-product__item__text">
                                                    <h6 th:utext="${newIcon.name}"></h6>
                                                    <span th:utext="${newIcon.price.salePrice}"></span>
                                                </div>
                                            </a>
                                        </th:block>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar__item">
                            <div class="latest-product__text">
                                <h4>Bán chạy nhất</h4>
                                <div class="latest-product__slider owl-carousel">
                                    <div class="latest-prdouct__slider__item">
                                        <th:block  th:each="bestIcon, isStat:${list3}">
                                            <a th:href="@{'/detail/id='+${bestIcon.id}}" class="latest-product__item" >
                                                <div class="latest-product__item__pic" th:with="imgIcon=${bestIcon.image.link.split('~')}">
                                                    <img th:src="'/'+${imgIcon[0]}" alt="">
                                                </div>
                                                <div class="latest-product__item__text">
                                                    <h6 th:utext="${bestIcon.name}"></h6>
                                                    <span th:utext="${bestIcon.price.salePrice}"></span>
                                                </div>
                                            </a>
                                        </th:block>
                                    </div>
                                    <div class="latest-prdouct__slider__item" >
                                        <th:block th:each="bestIcon, isStat:${list4}">
                                            <a th:href="@{'/detail/id='+${bestIcon.id}}" class="latest-product__item" >
                                                <div class="latest-product__item__pic" th:with="imgIcon=${bestIcon.image.link.split('~')}">
                                                    <img th:src="'/'+${imgIcon[0]}" alt="">
                                                </div>
                                                <div class="latest-product__item__text">
                                                    <h6 th:utext="${bestIcon.name}"></h6>
                                                    <span th:utext="${bestIcon.price.salePrice}"></span>
                                                </div>
                                            </a>
                                        </th:block>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar__item">
                            <div class="latest-product__text">
                                <h4>Khuyến mãi</h4>
                                <div class="latest-product__slider owl-carousel">
                                    <div class="latest-prdouct__slider__item" >
                                        <th:block th:each="saleIcon, isStat:${list5}">
                                            <a th:href="@{'/detail/id='+ ${saleIcon.id}}" class="latest-product__item">
                                                <div class="latest-product__item__pic" th:with="imgIcon=${saleIcon.image.link.split('~')}">
                                                    <span class="sale" style="position: absolute" th:utext="'-'+ ${saleIcon.price.salePercent}+'%'"></span>
                                                    <img th:src="'/'+${imgIcon[0]}" alt="">
                                                </div>
                                                <div class="latest-product__item__text">
                                                    <h6 th:utext="${saleIcon.name}"></h6>
                                                    <span th:utext="${saleIcon.price.salePrice}"></span>
                                                </div>
                                            </a>
                                        </th:block>
                                    </div>
                                    <div class="latest-prdouct__slider__item">
                                        <th:block th:each="saleIcon, isStat:${list6}">
                                            <a th:href="@{'/detail/id='+${saleIcon.id}}" class="latest-product__item">
                                                <div class="latest-product__item__pic" th:with="imgIcon=${saleIcon.image.link.split('~')}">
                                                    <span class="sale" style="position: absolute" th:utext="'-'+ ${saleIcon.price.salePercent}+'%'"></span>
                                                    <img th:src="'/'+${imgIcon[0]}" alt="">
                                                </div>
                                                <div class="latest-product__item__text">
                                                    <h6 th:utext="${saleIcon.name}"></h6>
                                                    <span th:utext="${saleIcon.price.salePrice}"></span>
                                                </div>
                                            </a>
                                        </th:block>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-7">
                    <div class="filter__item">
                        <div class="row">
                            <div class="col-lg-4 col-md-5">
                                <div class="filter__sort">
                                    <span>Sắp xếp</span>
                                    <select>
                                        <option value="0">Mặc định</option>
                                        <option value="0">Mặc định</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="filter__found">
                                    <h6><span>16</span> Sản phẩm được tìm thấy</h6>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-3">
                                <div class="filter__option">
                                    <span class="icon_grid-2x2"></span>
                                    <span class="icon_ul"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6" th:each="accessory, iterStat:${listOfCategory}">
                            <div class="product__item"  th:with="imgIcon=${accessory.image.link.split('~')}">
                                <div class="product__item__pic set-bg" th:data-setbg="'/'+ ${imgIcon[0]}">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="wish-list.html"><i class="fa fa-heart"></i></a></li>
                                        <li><a th:href="@{'/detail/id='+${accessory.id}}"><i class="fa fa-retweet"></i></a></li>
                                        <li><a href="shopping-cart.html"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a th:href="@{'/detail/id='+${accessory.id}}" th:utext="${accessory.name}"></a></h6>
                                    <h5 th:utext="${accessory.price.salePrice}"></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product__pagination">
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                    </div>
                    <div class="product__discount">
                        <div class="section-title product__discount__title">
                            <h2>Khuyến mãi</h2>
                        </div>
                        <div class="row">
                            <div class="product__discount__slider owl-carousel">
                                <div class="col-lg-4">
                                    <div class="product__discount__item">
                                        <div class="product__discount__item__pic set-bg"
                                             data-setbg="img/product/discount/pd-1.jpg">
                                            <div class="product__discount__percent">-20%</div>
                                            <ul class="product__item__pic__hover">
                                                <li><a href="wish-list.html"><i class="fa fa-heart"></i></a></li>
                                                <li><a href="shop-details.html"><i class="fa fa-retweet"></i></a></li>
                                                <li><a href="shopping-cart.html"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__discount__item__text">
                                            <span>Pug</span>
                                            <h5><a href="shop-details.html">Pug vàng 07</a></h5>
                                            <div class="product__item__price">4.000.000đ <span>3.200.000đ</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="product__discount__item">
                                        <div class="product__discount__item__pic set-bg"
                                             data-setbg="img/product/discount/pd-2.jpg">
                                            <div class="product__discount__percent">-20%</div>
                                            <ul class="product__item__pic__hover">
                                                <li><a href="wish-list.html"><i class="fa fa-heart"></i></a></li>
                                                <li><a href="shop-details.html"><i class="fa fa-retweet"></i></a></li>
                                                <li><a href="shopping-cart.html"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__discount__item__text">
                                            <span>Poodle</span>
                                            <h5><a href="shop-details.html">Poodle mơ 05</a></h5>
                                            <div class="product__item__price">5.000.000đ <span>4.000.000đ</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="product__discount__item">
                                        <div class="product__discount__item__pic set-bg"
                                             data-setbg="img/product/discount/pd-3.jpg">
                                            <div class="product__discount__percent">-20%</div>
                                            <ul class="product__item__pic__hover">
                                                <li><a href="wish-list.html"><i class="fa fa-heart"></i></a></li>
                                                <li><a href="shop-details.html"><i class="fa fa-retweet"></i></a></li>
                                                <li><a href="shopping-cart.html"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__discount__item__text">
                                            <span>Pomeranian</span>
                                            <h5><a href="shop-details.html">Pomeranian trắng tinh 04</a></h5>
                                            <div class="product__item__price">10.000.000đ <span>8.000.000đ</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="product__discount__item">
                                        <div class="product__discount__item__pic set-bg"
                                             data-setbg="img/product/discount/pd-4.jpg">
                                            <div class="product__discount__percent">-20%</div>
                                            <ul class="product__item__pic__hover">
                                                <li><a href="wish-list.html"><i class="fa fa-heart"></i></a></li>
                                                <li><a href="shop-details.html"><i class="fa fa-retweet"></i></a></li>
                                                <li><a href="shopping-cart.html"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__discount__item__text">
                                            <span>Corgi</span>
                                            <h5><a href="shop-details.html">Corgi vàng 04</a></h5>
                                            <div class="product__item__price">12.000.000đ <span>9.800.000đ</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="product__discount__item">
                                        <div class="product__discount__item__pic set-bg"
                                             data-setbg="img/product/discount/pd-5.jpg">
                                            <div class="product__discount__percent">-20%</div>
                                            <ul class="product__item__pic__hover">
                                                <li><a href="wish-list.html"><i class="fa fa-heart"></i></a></li>
                                                <li><a href="shop-details.html"><i class="fa fa-retweet"></i></a></li>
                                                <li><a href="shopping-cart.html"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__discount__item__text">
                                            <span>Bull</span>
                                            <h5><a href="shop-details.html">Bull Pháp vàng 05</a></h5>
                                            <div class="product__item__price">7.000.000đ <span>5.600.000đ</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="product__discount__item">
                                        <div class="product__discount__item__pic set-bg"
                                             data-setbg="img/product/discount/pd-6.jpg">
                                            <div class="product__discount__percent">-20%</div>
                                            <ul class="product__item__pic__hover">
                                                <li><a href="wish-list.html"><i class="fa fa-heart"></i></a></li>
                                                <li><a href="shop-details.html"><i class="fa fa-retweet"></i></a></li>
                                                <li><a href="shopping-cart.html"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__discount__item__text">
                                            <span>Samoyed</span>
                                            <h5><a href="shop-details.html">Samoyed trắng tinh 01</a></h5>
                                            <div class="product__item__price">10.000.000đ <span>8.000.000đ</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Product Section End -->

<!-- Footer Section Begin -->
<div th:replace="user/common/footer:: footer"></div>
<!-- Footer Section End -->



<!-- Js Plugins -->
<script th:src="@{/user/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/user/js/bootstrap.min.js}"></script>
<script th:src="@{/user/js/jquery.nice-select.min.js}"></script>
<script th:src="@{/user/js/jquery-ui.min.js}"></script>
<script th:src="@{/user/js/jquery.slicknav.js}"></script>
<script th:src="@{/user/js/mixitup.min.js}"></script>
<script th:src="@{/user/js/owl.carousel.min.js}"></script>
<script th:src="@{/user/js/main.js}"></script>


    <script>
        export default {
            data() {
                return {
                    selected: [], // Must be an array reference!
                    options: [
                        { text: 'Orange', value: 'orange' },
                        { text: 'Apple', value: 'apple' },
                        { text: 'Pineapple', value: 'pineapple' },
                        { text: 'Grape', value: 'grape' }
                    ]
                }
            }
        }
    </script>

</body>

</html>