<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pet shop</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="../index.html"><img src="../img/logo.png" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="../wish-list.html"><i class="fa fa-heart"></i> <span>1</span></a></li>
                <li><a href="../shoping-cart.html"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
            </ul>
            <div class="header__cart__price">Mục: <span>$150.00</span></div>
        </div>
        <div class="humberger__menu__widget">
            <div class="header__top__right__language">
                <img src="img/language.png" alt="">
                <div>English</div>
                <span class="arrow_carrot-down"></span>
                <ul>
                    <li><a href="#">Tiếng Việt</a></li>
                    <li><a href="#">Tiếng Anh</a></li>
                </ul>
            </div>
            <div class="header__top__right__auth">
                <a href="../login.html"><i class="fa fa-user"></i> Đăng nhập</a>
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="../index.html">Trang chủ</a></li>
                <li><a href="../shop-grid.html">Shop</a></li>
                <li><a href="../dog-blog.html">Chó</a>
                    <ul class="header__menu__dropdown">
                        <li><a href="../dog-blog.html">Chăm sóc</a></li>
                        <li><a href="../dog-blog.html">Sức khỏe</a></li>
                        <li><a href="../dog-blog.html">Dinh dưỡng</a></li>
                    </ul>
                </li>
                <li><a href="../cat-blog.html">Mèo</a>
                    <ul class="header__menu__dropdown">
                       
                            <li><a href="../cat-blog.html">Chăm sóc</a></li>
                            <li><a href="../cat-blog.html">Sức khỏe</a></li>
                            <li><a href="../cat-blog.html">Dinh dưỡng</a></li>
            
                    </ul>
                </li>
                <li><a href="../contact.html">Liên hệ</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                <li>Free ship cho đơn hàng trên 3 triệu đồng</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header" id="navbar">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                                <li>Free ship cho đơn hàng trên 3 triệu đồng</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                            <div class="header__top__right__language">
                                <img src="../img/language.png" alt="">
                                <div>Tiếng Việt</div>
                                <span class="arrow_carrot-down"></span>
                                <ul>
                                    <li><a href="#">Tiếng Anh</a></li>
                                    <li><a href="#">Tiếng Việt</a></li>
                                </ul>
                            </div>
                            <div class="header__top__right__auth">
                                <a href="../login.html"><i class="fa fa-user"></i>Đăng nhập</a>
                                <span class="arrow_carrot-down"></span>
                                <ul>
                                    <li><a href="profile.html">Tài khoản</a></li>
                                    <li><a href="#">Đăng xuất</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu">
            <div class="container" >
                <div class="row fix" >
                    <div class="col-lg-3">
                        <div class="header__logo logo">
                            <a href="../index.html"><img src="../img/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <nav class="header__menu">
                            <ul>
                                <li><a href="../index.html">Trang chủ</a></li>
                                <li><a href="../shop-grid.html">Shop</a></li>
                                <li><a href="../dog-blog.html">Chó</a>
                                    <ul class="header__menu__dropdown">
                                        <li><a href="../dog-blog.html">Chăm sóc</a></li>
                                        <li><a href="../dog-blog.html">Sức khỏe</a></li>
                                        <li><a href="../dog-blog.html">Dinh dưỡng</a></li>
                                    </ul>
                                </li>
                                <li><a href="../cat-blog.html">Mèo</a>
                                    <ul class="header__menu__dropdown">
                                        <li><a href="../cat-blog.html">Chăm sóc</a></li>
                                        <li><a href="../cat-blog.html">Sức khỏe</a></li>
                                        <li><a href="../cat-blog.html">Dinh dưỡng</a></li>
            
                                    </ul>
                                </li>
                                 <li><a href="../contact.html">Liên hệ</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-3">
                        <div class="header__cart">
                            <ul>
                                <li><a href="../wish-list.html"><i class="fa fa-heart"></i> <span>1</span></a></li>
                                <div class="cart">
                                    <li><a href=""><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                                    <div class="list">

                                        <div class="shopping-cart-header">
                                            <li><a><i class="fa fa-shopping-bag" id="cart-icon"></i> <span>3</span></a></li>
                                            <div class="shopping-cart-total">
                                                <span class="lighter-text">Total:</span>
                                                <span class="main-color-text">$2,229.97</span>
                                            </div>
                                        </div> <!--end shopping-cart-header -->

                                        <ul class="shopping-cart-items">
                                            <li class="clearfix">
                                                <img src="../img/product/Dog/Alaska/Giant/giant.jpg" alt="item1" />
                                                <div>
                                                <span class="item-name">Alaska khổng lồ (Giant)</span>
                                                    <span class="delete-btn">Xóa</span>
                                                </div>
                                                <div>
                                                <span class="item-price">$849.99</span>
                                                <span class="item-quantity">Số lượng: 01</span>
                                                </div>
                                            </li>

                                            <li class="clearfix">
                                                <img src="../img/product/Dog/Pomeranian/Mini/mini2.jpg" alt="item1" />
                                                <div>
                                                <span class="item-name">Phốc sốc mini</span>
                                                    <span class="delete-btn">Xóa</span>
                                                </div>
                                                <div>
                                                <span class="item-price">100000000</span>
                                                <span class="item-quantity">Số lượng: 01</span>
                                                </div>
                                            </li>

                                            <li class="clearfix">
                                                <img src="../img/product/Dog/Becgie/Duc/duc2.jpg" alt="item1" />
                                                <div>
                                                <span class="item-name">Becgie Đức</span>
                                                    <span class="delete-btn">Xóa</span>
                                                </div>
                                                <div>
                                                <span class="item-price">$129.99</span>
                                                <span class="item-quantity">Số lượng: 01</span>
                                                </div>
                                            </li>
                                        </ul>

                                        <a href="../shoping-cart.html" class="checkout-button">Xem giỏ hàng</a>

                                    </div>
                                </div>
                            </ul>
                            
                        </div>
                    </div>
                </div>
                <div class="humberger__open">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>Tất cả sản phẩm</span>
                        </div>
                        <ul class="hero__categories__menu">
                            <li><a href="../shop-details.html">Chó</a>
                                <ul class="dog pet">
                                    <li><a href="../shop-details.html">Poodle</a></li>
                                    <li><a href="../shop-details.html">Pug</a></li>
                                    <li><a href="../shop-details.html">Bull</a></li>
                                    <li><a href="../shop-details.html">Pomeranian</a></li>
                                    <li><a href="../shop-details.html">Becge</a></li>
                                    <li><a href="../shop-details.html">Alaska</a></li>
                                    <li><a href="../shop-details.html">Samoyed</a></li>
                                    <li><a href="../shop-details.html">Dachshund</a></li>
                                </ul>
                            </li>
                            <li><a href="../shop-details.html">Mèo</a>
                                <ul class="cat pet">
                                    <li><a href="../shop-details.html">England</a></li>
                                    <li><a href="../shop-details.html">Siamses</a></li>
                                    <li><a href="../shop-details.html">Scottish Fold</a></li>
                                    <li><a href="../shop-details.html">Munchkin</a></li>
                                    <li><a href="../shop-details.html">Sphynx</a></li>
                                </ul>
                            </li> 
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <div class="hero__search__categories">
                                    Tất cả sản phẩm
                                    <span class="arrow_carrot-down"></span>
                                </div>
                                <input type="text" placeholder="Bạn cần gì?">
                                <button type="submit" class="site-btn">TÌM KIẾM</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+65 11.188.888</h5>
                                <span>Hỗ trợ 24/7</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <div class="breadcrumb__option">
                            <a href="../index.html">Trang chủ</a>
                            <a href="../account/profile.html">Tài khoản</a>
                            <span>Đổi mật khẩu</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Profile Section Begin -->
    <section class="profile-section profile">
        <div class="container">
            <div class="row">
                <div class="left-menu">
                    <div class="profile">
                        <img src="../img/avatar/avatar1.jpg" alt="Profile">
                        <div class="profile-name">Jack</div>
                    </div>
                    <div class="profile-menu">
                        <ul>
                            <li><i class="fa fa-user-circle"></i> &ensp;<a href="profile.html">Tài khoản của tôi</a>
                                <ul>
                                    <li><a href="profile.html">Hồ sơ</a></li>
                                    <li><a href="change-password.html">Đổi mật khẩu</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="my-profile">
                    <div class="profile-header">
                        <h3>Đổi mật khẩu</h3>
                        <p>Để bảo mật tài khoản, vui lòng không chia sẻ mật khẩu cho người khác</p>
                        <hr>
                    </div>
                    <div class="profile-form">
                        <div class="profile-form-info">
                            <form action="">
                                <div class="input-with-lable-profile input-profile">
                                    <label for="">Mật khẩu hiện tại</label>
                                    <input type="password" name="password-now">
                                </div>
                                <div class="input-with-lable-profile input-profile">
                                    <label for="">Mật khẩu mới</label>
                                    <input type="password" name="password-new">
                                </div>
                                <div class="input-with-lable-profile input-profile">
                                    <label for="">Xác nhận mật khẩu</label>
                                    <input type="password"  name="password-confirm">
                                </div>
                                
                                <div class="btn">
                                    <input type="submit" value="Xác nhận">
                                </div>
                            </form>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Profile Section End -->
    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo logo">
                            <a href="../index.html"><img src="../img/logo.png" alt=""></a>
                        </div>
                        <ul>
                            <li>Địa chỉ: 60-49 Road 11378 New York</li>
                            <li>SĐT: +65 11.188.888</li>
                            <li>Email: hello@colorlib.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Link hữu ích</h6>
                        <ul>
                            <li><a href="#">Về chúng tôi</a></li>
                            <li><a href="#">Về shop của chúng tôi</a></li>
                            <li><a href="#">Mua sắm an toàn</a></li>
                            <li><a href="#">Thông tin vận chuyển</a></li>
                            <li><a href="#">Chính sách bảo mật</a></li>
                            <li><a href="#">Sơ  đồ trang web</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Chúng tôi là ai</a></li>
                            <li><a href="#">Dịch vụ của chúng tôi</a></li>
                            <li><a href="#">Dự án</a></li>
                            <li><a href="#">Liên hệ</a></li>
                            <li><a href="#">Sự đổi mới</a></li>
                            <li><a href="#">Chứng thực</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Tham gia bản tin của chúng tôi ngay bây giờ</h6>
                        <p>
                            Nhận thông tin cập nhật qua email về cửa hàng mới nhất của chúng tôi và các ưu đãi đặc biệt.</p>
                        <form action="#">
                            <input type="text" placeholder="Nhập email của bạn">
                            <button type="submit" class="site-btn">Đăng ký</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved 
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                        <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery.nice-select.min.js"></script>
    <script src="../js/jquery-ui.min.js"></script>
    <script src="../js/jquery.slicknav.js"></script>
    <script src="../js/mixitup.min.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/main.js"></script>


</body>

</html>