<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pet shop</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" th:href="@{/user/images/icons/favicon.ico}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/user/vendor/bootstrap/css/bootstrap.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/user/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/user/fonts/iconic/css/material-design-iconic-font.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/user/vendor/animate/animate.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/user/vendor/css-hamburgers/hamburgers.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/user/vendor/animsition/css/animsition.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/user/vendor/select2/select2.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/user/vendor/daterangepicker/daterangepicker.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/user/css/util.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/user/css/main.css}">
    <!--===============================================================================================-->
</head>
<body>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">

            <form th:action="@{/register}" th:object="${account}" method="post" class="login100-form validate-form">
					<span class="login100-form-title p-b-49">
						Đăng ký
					</span>

                <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
                    <span class="label-input100">Email</span>
                    <input class="input100" type="email" th:field="*{email}" name="email"
                           placeholder="Nhập tên đăng nhập">
                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:class="text-danger"></span>
                    <p id="error-email"></p>
                </div>

                <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
                    <span class="label-input100">Tên đăng nhập</span>
                    <input class="input100" type="text" th:field="*{username}" name="username"
                           placeholder="Nhập tên đăng nhập">
                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" th:class="text-danger"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <span class="label-input100">Mật khẩu</span>
                    <input class="input100" type="password" th:field="*{password}" name="pass"
                           placeholder="Nhập mật khẩu">
                    <span class="focus-input100" data-symbol="&#xf190;"></span>
                    <span span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:class="text-danger"></span>
                </div>
                <div class="wrap-input100 validate-input m-b" data-validate="Password is required"
                     style="margin: 20px 0 20px 0">
                    <span class="label-input100">Xác nhận mật khẩu</span>
                    <input class="input100" type="password" th:field="*{repassword}" name="pass-conform"
                           placeholder="Xác nhận mật khẩu">
                    <span class="focus-input100" data-symbol="&#xf190;"></span>
                    <span th:if="${#fields.hasErrors('repassword')}" th:errors="*{repassword}" th:class="text-danger"></span>
                </div>

                <div class="row">
                    <h6>Chính sách và điều khoản</h6>
                    <div class="input-group">
                        <input type="checkbox" th:id="policy" class="input-check" th:onclick="" value="Y" />
                        <label th:for="policy">Tôi chấp nhận các điều khoản và điều kiện để đăng ký dịch vụ này và qua đây
                            xác nhận rằng tôi đã đọc chính sách bảo mật.</label>
                    </div>
                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <input type="submit" value="Đăng ký" th:id="btnSubmit" class="login100-form-btn">
                    </div>
                </div>

                <div class="txt1 text-center p-t-54 p-b-20">
						<span>
							Hoặc đăng ký
						</span>
                </div>

                <div class="flex-c-m">
                    <a th:href="@{#}" class="login100-social-item bg1">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a th:href="@{#}" class="login100-social-item bg2">
                        <i class="fa fa-twitter"></i>
                    </a>

                    <a th:href="@{#}" class="login100-social-item bg3">
                        <i class="fa fa-google"></i>
                    </a>
                </div>

                <div class="flex-col-c p-t-155">
						<span class="txt1 p-b-17">
							Bạn đã có tài khoản?
						</span>

                    <a th:href="login.html" class="txt2">
                        Đăng nhập
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script type="text/javascript" th:src="@{/user/vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
<script type="text/javascript" th:src="@{/user/vendor/animsition/js/animsition.min.js}"></script>
<!--===============================================================================================-->
<script type="text/javascript" th:src="@{/user/vendor/bootstrap/js/popper.js}"></script>
<script type="text/javascript" th:src="@{/user/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
<script type="text/javascript" th:src="@{/user/vendor/select2/select2.min.js}"></script>
<!--===============================================================================================-->
<script type="text/javascript" th:src="@{/user/vendor/daterangepicker/moment.min.js}"></script>
<script type="text/javascript" th:src="@{/user/vendor/daterangepicker/daterangepicker.js}"></script>
<!--===============================================================================================-->
<script type="text/javascript" th:src="@{/user/vendor/countdowntime/countdowntime.js}"></script>
<!--===============================================================================================-->
<script type="text/javascript" th:src="@{/user/js/sign.js}"></script>
<script type="text/javascript" th:src="@{/user/js/custom-web.js}"></script>
<script type="text/javascript" th:src="@{/user/js/main1.js}"></script>
<script type="text/javascript" th:src="@{/user/js/main.js}"></script>
<script type="text/javascript" th:src="@{/user/js/sign1.js}"></script>


<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>
<script>
    var chkbox = $("#policy"),
        button = $("#btnSubmit");
    button.attr("disabled","disabled");

    chkbox.change(function(){
        if(this.checked){
            button.removeAttr("disabled");
        }else{
            button.attr("disabled","disabled");
        }
    });
</script>
</body>
</html>